.modern-features{
display: grid;
grid-template-columns: 1fr;
gap: 1.5rem;
padding: 2rem;
}

.modern-features p {
    font-size: 13px;
    margin-top: 20px;
}

.feature-card {
  background: linear-gradient(to right, #0f0f0f, #081c0e);
  border-radius: 16px;
  padding: 1.5rem;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 255, 100, 0.05);
  text-align: left;

  /* gap: 1rem; */
}

.feature-card:hover {
    transform: translateY(-4px);
  }

  .feature-card.wide {
    grid-column: span 1;
    background: linear-gradient(to right, #1d2b1f, #103c1c);
  }

  
.feature-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .badge {
    background-color: #22c55e;
    color: black;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    font-weight: 600;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  
.btn-primary {
    background-color: #22c55e;
    color: black;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-secondary {
    background-color: #1f2937;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  @media (min-width: 640px) {
    .modern-features {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .feature-card.wide {
      grid-column: span 2;
    }
  }
  
  @media (min-width: 1024px) {
    .modern-features {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .feature-card.wide {
      grid-column: span 2;
    }
  }